.main-header .logo {
  background: #4898a8;
}

body, h3, h4, .main-header .logo {
  background: #4898a8;
}

/* Style the radio button input element */ 
input[type="radio"] { 
  /* Set the background color for the radio button */ 
  background-color: #green; 
 
  /* Set the border color for the radio button */ 
  border-color: #pink; 
 
  /* Set the border width for the radio button */ 
  border-width: 1px; 
} 
 
/* Style the radio button when it is checked */ 
input[type="radio"]:checked { 
  /* Set the background color for the checked radio button */ 
  background-color: #yellow; 
 
  /* Set the border color for the checked radio button */ 
  border-color: #teal; 
}