/* body */
.content-wrapper,
.right-side {
  background-color: #363636;
  color: #cecece;
  border-style: double;
  border-width: 6px;
  border-color: #44092f;
  font-family: 'Courier New', Courier, monospace;
}

h3, h4 {
  font-family: 'Courier New', Courier, monospace;
}

/* logo */
.skin-blue .main-header .logo {
  background-color: #363636;
  color: #cecece;
  font-family: cursive;
}

/* logo when hovered */
.skin-blue .main-header .logo:hover {
  background-color: #4b4b4b;
  color: #cecece;
}

/* navbar (rest of the header) */
.skin-blue .main-header .navbar {
  background-color: #363636;
  color: #cecece;
}        

/* main sidebar */
.skin-blue .main-sidebar {
  background-color: #363636;
  color: #cecece;
  font-family: 'Courier New', Courier, monospace;
}

/* toggle button  */                    
.skin-blue .main-header .navbar .sidebar-toggle {
  background-color: #363636;
  color: #cecece;
}

/* toggle button when hovered  */                    
.skin-blue .main-header .navbar .sidebar-toggle:hover {
  background-color: #4b4b4b;
  color: #cecece;
}

/* buttons */
.pretty input:checked~.state.p-success label:after, .pretty.p-toggle .state.p-success label:after {
  background-color: #44092f!important;
}